include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/operandum *.html *.json *.js *.less *.css *.mo *.yml *.yaml
recursive-include ckanext/operandum/migration *.ini *.py *.mako
